@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

nav {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(14px);
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgba(255,255,255,0.1);
    position: sticky;
    top: 0;
    z-index: 100;
}

/* LOGO */
nav h2 {
    color: #ff2a6d;
    text-shadow: 0 0 12px #ff2a6d;
    font-size: 26px;
    font-weight: 800;
}

/* NAV MENU */
nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

/* NAV LINKS */
nav ul li a {
    color: #ccc;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s ease;
}

/* ACTIVE + HOVER */
nav ul li a:hover,
nav ul li a.active {
    color: #00eaff;
    text-shadow: 0 0 10px #00eaff;
    font-weight: 600;
}
.logout-btn {
    color: #ff4747 !important;
    font-weight: 600;
}

.logout-btn:hover {
    color: #ff0000 !important;
    text-shadow: 0 0 10px #ff0000;
}

